<% provide(:title, 'Sign up') %>

<div class="row">
  	<div class="span8 offset2 title-box">
		<h1>Admin Sign up</h1>
	</div>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

	  <%= f.label(:first)  %>
	  <%= f.text_field :first %>

	  <%= f.label(:last)  %>
	  <%= f.text_field :last %>

	  <%= f.label(:role)  %>
	  <%= f.text_field :role %>

	  <%= f.label :email %>
	  <%= f.text_field :email %>

	  <%= f.label(:url, "Personal Website Url (Optional)")  %>
	  <%= f.text_field :url %>

	  <%= f.label :password %>
	  <%= f.password_field :password %>

	  <%= f.label :password_confirmation, "Confirmation" %>
	  <%= f.password_field :password_confirmation %>

	  <%= fields_for(@admin_password) do |u| %>

	  <%= u.label :password, "Admin Password" %>
	  <%= u.password_field :password %>

	  <% end %>

	  <%= f.label(:desc, "Description")  %>
	  <%= f.text_area :desc, :size => "30x10" %>

	  <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
